
.container {
    max-width: 75vw;
}

.container .carrousel {
    display: flex; 
    overflow-x: auto; 
    scroll-behavior: smooth;
}

.container .carrousel::-webkit-scrollbar {
    display: none;
}

.container .carrousel .item {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 280px;
    border-radius: 14px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .carrousel .item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0px auto;
}

.container .carrousel .item .info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .carrousel .item .info span {
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
}

.container .carrousel .item .info .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #00a8fb;
}

.container .carrousel .item .info .contato {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.container .buttons {
    width: 100%;
    text-align: center;
}

.container .buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.contato {
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    
}


.container .buttons button:first-child img {
    transform: rotate(180deg);
}

.containerdiv {
    padding: 10px;
    display: flex;
    justify-content: center;
}