/* *{
    margin: 0%;
    
} */
.img_principal{
    margin: -16px;
}

.inicio{
    padding: 10px;
    background-color:aquamarine;
    border: solid white 0.5px;
    border-radius: 10px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: green;
}
.tabela-inst{
    margin-bottom: 30px;
}

.titulo{
    font-size: 40px;
    font-weight: bold   ;
    padding: 50px
}